.profile-card {
  width: 280px;
  background: #d9ecff;
  border-radius: 12px;
  position: relative;
  padding-bottom: 20px;
}

/* Faixa superior */
.profile-header {
  width: 100%;
  height: 90px;
  background: #74b9ff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Card a onde está imagem de perfil*/
.profile-image {
  position: absolute;
  top: 45px;       
  left: 20px;       /* encosta na esquerda */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  background: white;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* informaçõe/descrição*/
.profile-info {
  margin-top: 70px;   
  padding: 20px;
  padding-left: 20px; 
  text-align: left;
}

.profile-info h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.profile-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}
