.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #ffffff; 
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
}

.login-form h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
  color: #4A3F3B; 
}

.login-form p {
  margin-bottom: 30px;
  color: #777;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #4A3F3B; 
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #EAEAEA;
  background-color: #FBF9F7; 
  border-radius: 6px; 
  box-sizing: border-box; 
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px; 
  background-color: #C69C8D; 
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #B88E80; 
}

.forgot-password {
  display: block;
  margin-top: 15px;
  color: #C69C8D; 
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup-link {
    
    font-size: 0.9rem;
}

.signup-link a {
    color: #C69C8D; 
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover {
    text-decoration: underline;
}




.form-error-message {
  color: #c62828;
  background-color: #ffebee; 
  border: 1px solid #c62828;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}