.header{
    display: flex;
    align-items: center;
    background-color: #b5f8ba;
    padding: 12px 24px;
    box-shadow: 0 2px 4px rgba(42, 206, 96, 0.575); 
}
.header-logo {
    margin-left: 55px;
    height: 50px; 
    width: auto; 
    margin-right: 20px;
}
.header input{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b5f8ba;
    outline: none;
    width: 400px;
    height: 20px;
}

.header profile-image img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color:#333;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
